{% extends 'base.html' %}

{% block title %} | Painel {% endblock %}
{% load static %}

{% block content %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Painel</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li class="active">Painel adminstrativo</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!--   Dashboard Start   -->

<div class="container mt-50 mb-50">
	{% include 'includes/messages.html' %}
	<div class="main-title" style="text-align:left !important;">
            <h1>Bem Vindo <span>Ricardo</span></h1>
            <p>Aqui estão os carros que você viu recentemente</p>
        </div>
	<table class="table table-hover">
	  <thead>
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">Nome do carro</th>
		  <th scope="col">Localização</th>
		  <th scope="col">Preço</th>
		  <th scope="col">Ativo</th>
		</tr>
	  </thead>
	  <tbody>
		<tr>
		  <th scope="row">1</th>
		  <td>Lamborgini Huracan</td>
		  <td>Austin</td>
		  <td>R$25000</td>
		  <td><a href="#" class="btn btn-outline-dark">Ver carro</a></td>
		</tr>
		<tr>
		  <th scope="row">2</th>
		  <td>Lamborgini Huracan</td>
		  <td>Austin</td>
		  <td>R$25000</td>
		  <td><a href="#" class="btn btn-outline-dark">Ver carro</a></td>
		</tr>
		<tr>
		  <th scope="row">3</th>
		  <td>Lamborgini Huracan</td>
		  <td>Austin</td>
		  <td>R$25000</td>
		  <td><a href="#" class="btn btn-outline-dark">Ver carro</a></td>
		</tr>
	  </tbody>
	</table>
</div>

{% endblock %}